/*
@我的招标
*/
.userContent {
    /*border: 1px solid #10ac86;*/
    float: left;
    position: relative;
    margin-top: 10px;
    width: 730px;
    margin-left: 18px;
    margin-right: 18px;
    padding-bottom: 40px;
    height: auto;
}

/*
@中间-筛选
*/
.userCScreen {
    width: 730px;
    height: auto;
    border: 1px solid rgba(245, 245, 245, 1);
    float: left;
    padding-bottom: 3px;
    background: rgba(245, 245, 245, 0.5);
}

.bidsContent {
    width: 730px;
    min-height: 300px;
    height: auto;
    border: 1px solid rgba(245, 245, 245, 1);
    float: left;
    margin-top: 10px;
}
.bidsContent div:last-child{
    border-bottom: none;
}
.userCScreen div {
    height: 40px;
}

.userCSList {
    padding-top: 5px;
}

.userCScreen .userCSList span {
    float: left;
    display: block;
    margin-left: 20px;
}

.userCScreen .userCSList ul li {
    display: block;
    float: left;
    text-align: center;
    width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}

.userCScreen .userCSList ul li a:hover {
    color: #06c27a;
}

/*@分类选中的效果*/
.listSelected {
    background: #10ac86;
    padding: 1px;
    border-radius: 2px;
}

.listSelected a {
    color: #ffffff;
}

.listSelected a:hover {
    color: #ffffff !important;
}

/*@分类列表*/
.uscBids {
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(245, 245, 245, 1);
    padding-bottom: 3px;
    padding-top: 3px;
    overflow: hidden;
    zoom: 1;
}

/*我的招标列表*/
/*标签部分*/

.uscBidsLabel {
    width: 10%;
    float: left;
}

.uscBidsLabel p {
    float: left;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius:2px;
    color: #ffffff;
    margin-left: 3px;
}

.LabelP1 {
    background: #10ac86;
}

.LabelP2 {
    background: #f27838;
}

/*内容部分*/
.uscBidsContent {
    width: 70%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.uscBidsContent a:hover{
    color: #06c27a;
}
.uscBidsContent p {
    font-size: 12px;
    color: #aab2bd;
}

.uscBidsContent span:first-child {
    margin-left: 5px;
}

.uscBidsContent p span {
    color: #06c27a;
}

.uscBidsContent .uscBidsP {
    color: #f27838;
    margin-right: 0;
}

.uscBidsContent p span {
    margin-right: 15px;
}

/*操作按钮*/
.uscBidsHandle {
    width: 14%;
    float: left;
}

.uscBidsHandle span {
    display: inline-block;
    color: #ffffff;
    border-radius: 2px;
    min-width:45px;
    width: auto;
    text-align: center;
    margin-left: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

/*绿色*/
.btn-less-focus{
    background: #10ac86;
}
.btn-less-focus:hover {
    background: #06c27a;
    cursor:pointer;
}

/*橙色*/
.btn-less-focus-e {
    background: #f27838;
}

.btn-less-focus-e:hover {
    background: rgba(231, 37, 32, 1);
    cursor:pointer;
}

/*灰色*/
.btn-less-focus-c {
    background: #aab2bd;
}
