.headerNav {
    background: #fff;
    height: 130px;
    background: url("../images/headbg.jpg") repeat-x left bottom;
}

.signNav {
    width: 1210px;
    margin: 0 auto;
    height: auto;
}

.signNav div {
    float: left;
}

.logo-title {
    height: 34px;
    line-height: 34px;
    font-size: 18px;
    color: #000;
    border-left: 1px solid #bbb;
    margin-left: 25px;
    padding-left: 25px;
    margin-top: 34px;
}
.logo-title a:hover{
    color: #06c27a;
}
.register {
    float: right!important;
    font-size: 16px;
    margin-top: 55px;
    color: #999!important;
}

.register a:hover {
    color: #06c27a;
}

.signContent {
    width: 1200px;
    margin: 0 auto;
    height: 250px;
}

.reg-form form {
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
    zoom: 1;
}

.form-item {
    position: relative;
    /*border: solid 1px #ddd;*/
    width: 500px;
    height: 52px;
    margin-bottom: 14px;
}

.spanTitle {
    float: left;
    width: 170px;
    height: 52px;
    line-height: 52px;
    padding-right: 20px;
    font-size: 14px;
    text-align: center;
}
.spanIn{
    width: 250px;
    text-align: left;
}
.reg-form{
    width: 500px;
    float: left;
}
/*企业执照*/
.ELImg{
    margin-top: 10px;
    display: block;
    width: 300px;
    height: 400px;
    background: #f5f5f5 url("../images/P60810.jpg") 0 0/300px no-repeat ;
}
.form-item .getCode{
    position: absolute;
    right: 3px;
    top: 2px;
    width: 110px;
    height: 46px;
    border: none;
    background: #f2f2f2;
    color: #333;
    padding: 0;
}
.btn-register{
    margin-top: 10px;
    width: 500px;
    height: 54px;
    color: #fff;
    background: #10ac86;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
.btn-register:hover{
    background: #06c27a;
}
.btn-register:visited{
    background: #10ac86;
}