/*字号
标题文字：fz-title;
一级导航标题文字：fz-nav;
常规文字：fz-rule;
辅助文字：fz-assist;
*/

.fz-title {
    font-size: 16px;
}

.fz-nav {
    font-size: 15px;
}

.fz-rule {
    font-size: 14px;
}

.fz-assist {
    font-size: 12px;
}


/*============================================================================*/


/*文字颜色
标题、常规文字： cl-title cl-rule;
辅助文字：cl-assist;
强调文字：cl-stress;
操作文字：cl-operate;
错误文字：cl-error;
*/

.cl-title,
.cl-rulec {
    color: #434a54;
}

.cl-assist {
    color: #aab2bd;
}

.cl-hover {
    color: #06c27a;
    font-weight: 500;
}

.cl-hover:hover {
    color: #06c27a;
    font-weight: 500;
}

.cl-stress {
    color: #f27838;
    font-weight: 500;
}

.cl-operate {
    color: #10ac86;
    font-weight: 500;
}

.cl-error {
    color: #f85043;
    font-weight: 600;
}


/*广告、通知、规则*/

#Banner {
    width: 1210px;
    margin: 0 auto;
    height: auto;
    margin-top: 3px;
}

#Banner div {
    float: left;
}


/*            广告模块*/

#bigBanner {
    width: 850px;
    height: 390px;
}


/*            大广告*/

#bigB {
    border: 1px solid #646464;
    width: 834px;
    height: 250px;
}


/*            小广告*/

#smallB {
    width: 850px;
    height: 130px;
    margin-top: 10px;
}

#smallB a {
    display: block;
    float: left;
    width: 130px;
    height: 130px;
    border: 1px solid #10ac86;
    margin-right: 9px;
    background: url("../images/hema.jpg") no-repeat;
}

#messageBanner {
    width: 320px;
    height: auto;
}

#messageBanner div {
    float: left;
}


/*            通知公告,招标需知*/

.mbTitle {
    border: 1px solid #10ac86;
    width: 360px;
    height: 190px;
    margin-top: 10PX;
    z-index: 100;
}


/*            通知公告文字*/

.mbSpan {
    display: block;
    float: left;
    margin: 5px 5px 5px 10px;
    font-size: 14px;
    width: 260px;
}


/*            更多*/

.mbImg {
    display: block;
    float: right;
    text-align: right;
    margin-top: 5px;
    width: 32px;
    height: 32px;
    background: url("../images/more0.png") no-repeat scroll 0 0/24px;
}

.mbTitle ul {
    display: block;
    float: left;
    margin-top: 6px;
}

.mbTitle li {
    margin-top: 3px;
}

.mbTitle ul li a:hover {
    color: #f27838;
}


/*物资采购-左边列表*/

#MaterialPurchasing {
    width: 1220px;
    margin: 0 auto;
    height: auto;
    margin-top: 465px;
}

#mpSort,
#mpContent {
    float: left;
    height: 450px;
    position: relative;
}

#mpSort {
    width: 330px;
    margin-right: 10px;
    border-top: 2px solid #10ac86;
}

.mpSortTop {
    float: left;
    height: 170px;
    width: 330px;
    background: rgba(135, 213, 194, 0.3);
    overflow: hidden;
}

.mpSortTop ul li {
    display: block;
    margin-left: 8px;
    float: left;
    text-align: center;
    padding: 8px;
}

.mpSortDown {
    float: left;
    height: 280px;
    width: 330px;
    background: rgba(245, 245, 245, 0.6);
    overflow: hidden;
}

.mpSortDown li {
    display: block;
    margin-left: 6px;
    float: left;
    text-align: center;
    padding: 6px;
}

.mpSortDown ul {
    margin-top: 5px;
}


/*            物资采购-最新发布*/

#mpContent {
    width: 870px;
    border: 1px solid rgba(16, 172, 134, 0.8);
}

.mpcList {
    height: auto;
    position: absolute;
    margin-left: 20px;
    overflow: hidden;
}

.mpcList li {
    display: block;
    float: left;
    width: 390px;
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #e6e9ed;
    padding-bottom: 4px;
    padding-top: 4px;
}

.mpcList li:last-child,
.mpcList li:nth-last-child(2) {
    border-bottom: none;
}

.mpcList li a {
    float: left;
    width: 410px;
}


/*工程项目-左边列表*/

#project {
    width: 1230px;
    margin: 0 auto;
    height: auto;
    margin-top: 475px;
}

.pjTitle a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.pjTitle img {
    float: left;
    margin-right: 12px;
}

.pjTitle h2 {
    font-size: 20px;
    color: #333;
    font-family: "microsoft yahei";
    font-weight: 400;
    margin-bottom: 2px;
}

.pjTitle a {
    display: block;
    width: 200px;
}

#pjSort,
#pjContent {
    float: left;
    height: 280px;
    position: relative;
}

#pjSort {
    width: 330px;
    margin-right: 10px;
    border-top: 2px solid #10ac86;
}

.pjSortTop {
    float: left;
    height: 100px;
    width: 330px;
    background: rgba(135, 213, 194, 0.3);
    overflow: hidden;
}

.pjSortTop li {
    display: block;
    margin-left: 8px;
    float: left;
    text-align: center;
    padding: 8px;
}

.pjSortDown {
    float: left;
    height: 180px;
    width: 330px;
    background: rgba(245, 245, 245, 0.6);
    overflow: hidden;
}

.pjSortDown li {
    display: block;
    margin-left: 6px;
    float: left;
    text-align: center;
    padding: 6px;
}

.pjSortDown ul {
    margin-top: 5px;
}

.pjSortDown ul li a:hover,
.mpSortTop ul li a:hover,
.mpSortDown ul li a:hover,
.pjSortTop ul li a:hover {
    color: #10ac86;
    font-weight: 500;
}

.pjcList ul li a:first-child:hover,
.mpcList ul li a:first-child:hover {
    color: #10ac86;
}


/*            工程项目-最新发布*/

#pjContent {
    width: 870px;
    border: 1px solid rgba(16, 172, 134, 0.8);
}

.pjcList {
    height: auto;
    position: absolute;
    margin-left: 20px;
    overflow: hidden;
}

.pjcList li {
    display: block;
    float: left;
    width: 390px;
    padding-right: 20px;
    border-bottom: 1px solid #e6e9ed;
    padding-bottom: 4px;
    padding-top: 4px;
}

.pjcList li:last-child,
.pjcList li:nth-last-child(2) {
    border-bottom: none;
}

.pjcList li a {
    float: left;
    width: 390px;
}


/* 延期公告*/

#delay {
    width: 1210px;
    margin: 0 auto;
    height: auto;
    margin-top: 300px;
    position: relative;
}

.mbTitle hr,
.pjTitle hr,
#pjContent hr,
#mpContent hr {
    width: 100%;
    border: 1px solid #10ac86;
    opacity: 0.4;
}

.dlContent ul {
    margin-top: 10px;
}

.dlContent ul li {
    /*    width: 1150px;*/
    border-bottom: 1px dashed #10ac86;
    height: 32px;
}

.dlContent ul li:last-child {
    border-bottom: none;
}

.dlContent ul li a {
    display: block;
    width: 585px;
    margin-right: 15px;
    float: left;
}

.dlContent ul li a:hover {
    color: #10ac86;
}

.dlContent ul li span {
    margin-right: 5px;
}

.dlContent {
    height: auto;
}


/*中标公告*/

#bid {
    width: 1210px;
    margin: 0 auto;
    height: auto;
    margin-top: 20px;
    position: relative;
}

.bidContent ul li a {
    width: 500px;
}

.bidContet ul li span {
    float: left;
}