/*
@用户中心-左则部分
*/
.userLeft {
    border: 1px solid #10ac86;
    float: left;
    position: relative;
    margin-top: 10px;
    width: 130px;
    text-align: center;
    padding-bottom: 20px;
}

/*用户中心左则部分内容 CSS*/
.userLeft ul li span, .userLeft ul li a {
    font-size: 12px;
    color: #434a54;
}

/*左则大标签的颜色*/
.userLeft ul li span {
    color: #aab2bd;
}

/*左则列表鼠标移过效果*/
.userLeft ul li a:hover {
    color: #06c27a;
}

/*左则列表内容向左移动*/
.uslBids {
    margin-left: 10px;
}

/*
@用户中心-右测部分
*/
.userRight {
    /*border: 1px solid #10ac86;*/
    float: left;
    position: relative;
    margin-top: 10px;
    width: 300px;
    /*height: 200px;*/
}

/*招标日期外框 */
.calendar {
    min-height: 300px;
    border: 1px solid rgba(6, 194, 122, 0.5);
    overflow: hidden;
    padding-bottom: 10px;
}

/*招标日期头部部分*/
.cdTop {
    background: #06c27a;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-size: 15px;
}

/*招标日期头部图片*/
.cdTop img {
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 8px;
}

/*招标日期日期显示部分*/
.cdDate {
    height: 150px;
    background: rgba(6, 194, 122, 0.1);
    border-bottom: 1px solid #10ac86;
    text-align: center;
}

.cdDate span, .cdDate em {
    display: block;
    width: 100%;
    text-align: center;
}

.cdDate em {
    height: 80px;
    font-size: 60px;
    color: #10ac86;
    margin-bottom: 10px;
}

.cdDate span {
    color: #06c27a;
    font-size: 15px;
    margin-bottom: -8px;
}

/*招标日期内容部分*/
/*无内容显示*/
.cdContent .cdBlank {
    display: none;
    text-align: center;
    line-height: 170px;
    color: #aab2bd;
    font-size: 38px;
}

/*有内容列表*/
.cdContent ul {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

.cdContent ul li {
    margin-top: 10px;
}

.cdContent ul li a:hover, .cdContent ul li a:link {
    color: #06c27a;
}

/*紧急提醒，正常提醒外框大小*/
.cdContent .cdUrgency, .cdContent .cdNormal {
    float: left;
    display: block;
    color: #ffffff;
    width: 50px;
    height: 24px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

/*紧急通知背景色*/
.cdContent .cdUrgency {
    background: #f27838;
}

/*正常提醒背景色*/
.cdContent .cdNormal {
    background: #10ac86;
}

/*
@用户中心-中间部分
*/
.userContent {
    /*border: 1px solid #10ac86;*/
    float: left;
    position: relative;
    margin-top: 10px;
    width: 730px;
    margin-left: 18px;
    margin-right: 18px;
    /*height: 200px;*/
}

/*中间部分-头部企业信息*/
.userContent .userCTop {
    width: 100%;
    min-height: 190px;
    border: 2px solid #e4eaee;
    border-bottom: none;
}

.userContent .userCTop .uctTitle {
    width: 100%;
    min-height: 70px;
    border-bottom: 1px solid #e4eaee;
    background: #f5f8fa;
}

/*招标信息、投标信息文字*/
.uctBids p {
    color: #aab2bd;
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
}

/*招标信息列表平均分布*/
.userCTop .uctBids ul {
    width: 100%;
    height: 50px;
    display: -webkit-flex;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    margin-bottom: 2px;
}

.userCTop .uctBids ul li {
    display: block;
    float: left;
    -webkit-flex: 1; /*根据ul的长度进行平均分布*/
    text-align: center;
    margin-top: 12px;
    height: 25px;
    border-right: 1px solid #e4e4e4;
}
.userCTop .uctBids ul li:last-child{
    border-right: none;
}

.userCTop .uctBids ul li a:hover {
    color: #06c27a;
}
/*数字提醒*/
.userCTop .uctBids ul li span {
    background: #f27838;
    width: auto;
    height: 16px;
    border-radius: 6px;
    color: #ffffff;
    padding: 1px;
    font-size: 10px;
    margin-left:2px;
}